.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.calculator-input {
  width: 300px;
  height: 30px;
  font-size: 1.5em;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
}

.result {
  width: 300px;
  height: 30px;
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border: none;
  color: #747070;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  gap: 10px;
  margin-top: 15px;
}

.calculator-button {
  width: 75px;
  height: 75px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 25px;
}

